// Placeholders
%degreeSign {
  &::after {
    content: "o";
    position: absolute;
    font-size: 0.5em;
    top: -10px;
  }
}

// WEATHER LOGO
.logo {
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

// HEADER
.weather-nav {
  display: flex;
  justify-content: center;

  margin-left: auto;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    color: inherit;
    width: 76px;
    height: 48px;
    text-decoration: none;
    cursor: pointer;

    &--active {
      background-color: $color-white-grey;
      border-left: 2px solid $color-white;
    }
  }
}

// WEATHER STATUS
.weather-status {
  display: flex;
  justify-content: space-between;

  padding-top: 170px;

  .temperature:last-of-type {
    text-align: right;
  }

  .current-city {
    font-size: 4rem;
    letter-spacing: 0.05em;
  }

  .current-date {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px 0;
  }

  .current-status {
    font-size: 1.875rem;
    padding-left: 20px;
  }
  .current-temperature {
    font-size: 9rem;
    position: relative;

    @extend %degreeSign;
  }

  .today-high,
  .today-low {
    font-size: 3rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    position: relative;
    margin: 20px 0;
    display: inline-block;

    @extend %degreeSign;
  }

  .today-low {
    color: $color-white-grey-1;
  }

  .separator {
    font-size: 3rem;
    font-weight: 400;
    margin: 0 10px;
  }

  .today-summary {
    font-size: 1.5rem;
    margin-bottom: 100px;
  }
}

// SWITCH BUTTON
.switch-buttons {
  border-bottom: 1px solid $color-white-grey;
  .button {
    display: inline-block;
    font-size: 1.375rem;
    color: $color-white;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 50px;
    padding-bottom: 5px;

    &--active {
      border-bottom: 3px solid $color-white;
    }

    &:hover {
      border-bottom: 3px solid $color-white;
    }
  }
}

// TEMPERATURE
.temperature {
  text-align: center;
  &:not(:last-child) {
    margin-right: 45px;
  }

  &__time {
    font-size: 1rem;
    font-weight: 300;
  }

  &__degree {
    position: relative;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.12rem;
    display: inline-block;

    @extend %degreeSign;
  }

  &__temp {
    font-size: 2.25rem;
    font-weight: 400;
    position: relative;
    margin-top: 10px;

    @extend %degreeSign;
  }
}

// Small Device
// 37.5em = 600px
@media screen and(max-width: 37.5em) {
  .current-city,
  .weather-status .current-temperature {
    font-size: 2rem;
  }

  .weather-status {
    padding-top: 50px;

    flex-direction: column;
    .current-status {
      padding-left: 0;
    }

    .today-summary {
      margin-bottom: 30px;
    }
  }

  .weather-info {
    text-align: center;
    margin-bottom: 20px;
  }
}
